<nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/promo/masoo_jp_logo.png" alt="システム屋まそお" style="width: 100px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_toggler_masoo_jp"
      aria-controls="navbar_toggler_masoo_jp" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar_toggler_masoo_jp">
      <ul class="navbar-nav mt-2 mt-lg-0">
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a class="nav-link" href="/about">
            <i class="fas fa-address-card u-font-size-90 mr-1"></i> About
          </a>
        </li>
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a class="nav-link" href="/contact">
            <i class="fas fa-book u-font-size-90 mr-1"></i> Contact 
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>