---
layout: default
---
<header role="header">
  {% include navbar.html %}
  <section class="js-parallax u-promo-block" style="background-image: url(assets/promo/img1.jpg);">
    <div class="container text-white u-ver-center u-content-space">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="text-center">
            <p class="h6 text-uppercase u-letter-spacing-sm mb-0">京都府舞鶴市でシステム開発</p>
            <h1 class="display-2 display-md-1 u-font-accent font-weight-light">システム屋まそお</h1>
            <a href="#js-scroll-to-section" class="text-uppercase text-white font-weight-bold u-font-size-75">Discover
              now</a>
            <span class="fa fa-angle-down d-block"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<main role="main">
  {{ content }}
</main>
{% include footer.html %}